.tutorial-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tutorial-search-bar {
  justify-content: normal;
  text-align: center;
  align-self: center;
  display: inline-block;
  width: 55%;
}
.tutorial-search-list {
  text-align: center;
  align-self: center;
  display: inline-block;
  width: 55%;
}

.tutorial-link {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.tutorial-text {
  align-items: center;
}
